.custom-button-art {
  display: inline-block;
  width: 400px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: crimson;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  margin-left: -400px;

  &:hover {
    background-color: blueviolet;
    color: black;
    border: 1px solid black;
  }
}


  @media only screen and (max-width: 800px) { 

    }

     @media only screen and (max-width: 400px) {
      .custom-button-art {
      width: 200px;
   font-size: 12px;
   margin-left: -100px;
      }
     }